
.logo{
    text-align: center;
    box-sizing: content-box;
}
.logo img{
    background-repeat: no-repeat;
    display: inline-block;
    box-sizing: content-box;

    max-width: 100%;
    transform: translateY(-50%);
    overflow: visible;
    border: 2px solid #356a9d;
}

.meni{
    margin-top: 60px;
    text-align: center;
    box-sizing: content-box;

}
.meni ul li{
    display: inline;
    float: bottom;
    margin: 2%;
}
.meni ul li:after {
    clear: bottom;
}
a{
    color: #213750;
}


.sadrzaj, .meni{
    background-color: #698ab5;
    border: 1px solid #79ff22;
}
.sadrzaj{
    margin-top: 1%;
    padding: 2%;
}

@media only screen and (max-width: 600px) {
    .meni ul li {
        display: block;
    }
}