@import "meni.css";

table {
    margin:auto;
}
table, th, td {
    border: 2px solid #356a9d;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: rgba(53, 106, 157, 0.71);
}
th, td {
    padding: 15px;
    color:white;

}

.sadrzaj{
    text-align: center;
}

a.current{
    text-decoration: none;
}