@import "meni.css";

*,
*:before,
*:after {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    box-sizing: content-box;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 2%;
    margin: auto;
}

button{
    clear: both;
    min-width:80px;
    margin-right:2%;
    margin-left:2%;
    margin-top:10px;
    padding: 10px;
    background-color: #b0c4dd;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
button:hover{
    background-color: #cadff9;
}
button:active{
    color: #356a9d;
}
button:disabled{
    background-color: #bebebe;
}
.sadrzaj{
    text-align: center;
}

.frame{
    display: inline-block;
    text-align: center;
    margin: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    text-align: center;
}
.grid-container >div> img{
    width: 100%;
    object-fit: cover;
    max-height: 304px;
}

a.current{
    text-decoration: none;
}

#buttons{
    margin:unset;
    text-align: left;
}

button[name="sljedeci"]{
    float: right;
}
button[name="sljedeci"]:after {
    clear: right;
}
@media only screen and (max-width: 600px){
    .grid-container{
        grid-template-columns: 60%;
    }
    .sadrzaj{
        overflow: hidden;
    }
    .img{
        width: min-content;
    }
}