@import "meni.css";

form{
    margin: auto;
    display: table;
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid rgb(53, 106, 157);
}

form div{
    display: table-row;
}
form label{
    display: table-cell;
    padding: 2px;
    color: ghostwhite;
}
form input {
    margin-top: 3px;
    box-sizing: content-box;
    width: 100%;

}
.sadrzaj{
    text-align: center;
}

.glavni{
    display: inline-block;
    box-sizing: content-box;
    margin-top: 10px;
}

#inner{
    display: inline-block;
    margin:auto;
}
.buttons{
    margin:unset;
    text-align: left;
}
h4{
    margin-top:0;
}
#kalendar{
    padding: 10px 20px 20px 20px;
    margin-top: 10px;
    border: 2px solid #356a9d;
    display: inline-block;
    background-color: #b0c4dd;
}

.date, .day{
    display: grid;
    box-sizing: content-box;
    grid-column-gap: 9px;
    grid-row-gap: 7px;
    grid-template-columns: repeat(7, 1fr);

}
.date{
    margin-top: 7px;
}

.date>div, .day div {
    border: 2px solid #356a9d;
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
/*
.date div:first-child{
    grid-column: 5;
}*/

.date div div{
    box-sizing: content-box;
    text-align: center;
    height: 65%;
    background-color: white;
    border-bottom: 2px solid #356a9d;
}
.date>div{
    box-sizing:content-box;
    padding: 0;
    margin:0;
    height: 30px;

}

.date div{
    cursor: pointer;
}

.date div.slobodna div:hover{
    background-color: rgb(138, 255, 136);

}

.date div.zauzeta div:hover{
    background-color: rgb(255, 172, 157);

}


.date div.slobodna {
    background-color: #23f71f;
}

.date div.zauzeta {
    background-color: red;
}
button{
    clear: both;
    min-width:80px;
    margin-top: 10px;
    padding: 10px;
    background-color: #b0c4dd;
    border: 2px solid #356a9d;
}
button:hover{
    background-color: #cadff9;
}
button:active{
    color: #356a9d;
}

button[name="sljedeci"]{
    float: right;

}
button[name="sljedeci"]:after {
   clear: right;
}
a.current{
    text-decoration: none;
}
@media only screen and (max-width: 600px){

    .date, .day{
        grid-template-columns: 1fr;
        margin-right: 20px;
    }
    .day{
        float: left;
    }
    .day:after {
        clear: right;
    }
    .day div{
        height: 30px;
    }
    .date div:first-child{
        grid-column: 1;
    }
    .date>div:nth-child(n+11){
        display: none;
    }
    .date>div:nth-child(-n+3){
        display: none;
    }
    form input, form label{
        display: table-row;
    }

}


