@import "meni.css";

.sadrzaj{
    text-align: center;
    box-sizing: content-box;
    padding-bottom: 1%;

}
.sadrzaj .tabelaSala {
    margin: auto;
    border-spacing: 0;
}
.tabelaSala .headerSprat{
    height: 50px;
    background-color: #939393;
}


.tabelaSala td.headerSprat{
    text-align: end;
    font-size: 14pt;
    border: 1px solid #c0c0c0;
    border-top-color: #515151;
    border-left-color: #444444;


}
.tabelaSala td{
    border: 1px solid #969696;
    padding: 3px;
    border-top-color: #515151;
    border-left-color: #111111;
    text-align: left;
    height: 30px;
    box-sizing: content-box;
    min-width: 40px;

}

.tabelaSala .sala{
    vertical-align: top;
    background-color: white;
}

.tabelaSala .zauzetaSala{
    vertical-align: top;
    background-color: rgb(212, 77, 41);
}

.tabelaSala .slobodnaSala{
    vertical-align: top;
    background-color: rgb(34, 212, 30);
}

.tabelaSala th.headerSprat{
    text-align: center;
    font-weight: normal;
    border: 1px solid white;

}

.tabelaSala td:nth-child(6){
    min-width: 50px;
}

.tabelaSala .headerRedni{
    width: 80px;
    background-color: lightgrey;
    border: 1px solid white;
    border-bottom-color: #656565;
    text-align: left;
}
.kancelarija{
    background-color: rgba(150, 157, 175, 0.8);
}
a.current{
    text-decoration: none;
}
.tabelaSala tr:nth-child(2) td:first-child{
    vertical-align: bottom;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .tabelaSala .headerSprat, .tabelaSala td.headerRedni,th{
        display: none;
    }
    .tabelaSala td{
        min-width: 36px;
    }
    .tabelaSala td:nth-child(6){
        min-width: 40px;
    }

}