@import "meni.css";

form  {
    display: table;
    margin: auto;
    padding: 1%;
    border: 2px solid rgb(53, 106, 157);
}
form div     {
    display: table-row;
}
label {
    text-align: left;
    display: table-cell;
    padding: 2px;
    color: ghostwhite;
}
input {
    margin: 2px;
    display: table-cell;
}
a.current{
    text-decoration: none;
}

.sadrzaj{
    text-align: center;
}

@media only screen and (max-width: 600px){
    input, label{
        display: table-row;
    }
}
