*{
    margin: 0;  
    padding: 0;  
    border: 0;  
}
body{
    background-color: black;
}
.meni{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,72,88,1) 100%, rgba(0,212,255,1) 100%);
    width: 90%;
    margin: auto;
    margin-top:50px;
    height: 100px;
    position: relative;
    box-sizing:border-box;
}
.meni ul{
    text-align: center;
    margin-top: -30px;
}
.meni ul li{
    display: inline-block;
    list-style: none;
}
.meni ul li a{
    color: #EDF0DA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}
.logo{
    text-align: center;
    height: 100%;
    margin: auto;
    width: 20%;
    transform: translateY(-50%);
    position:relative;
    display: block;
}
.logo-img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
}
.active-link{
    text-decoration: none;
}
.sadrzaj{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,72,88,1) 100%, rgba(0,212,255,1) 100%);
    clear: both;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    overflow: hidden;
    color: #EDF0DA;
}
@media only screen and (max-width: 600px) {
    .sadrzaj{
        width: 100%;
    }
    .logo{
        height: 50%;

    }
    .meni{
        width: 100%;
        height:150px;
    }
    .meni ul li{
        display:block;
        list-style: none;
    }
}