#blok-osoba,#blok-osoba-header {
    width: 500px;
    border: 1px solid black;
    overflow: auto;
    margin: auto;
    background-color: whitesmoke;
  }
  
  #ime_osoba, #ime_osoba_header {
    float: left;
    width: 50%;
    color: black;
    border: 1px solid black;
  }
  #sala_osoba,#sala_osoba_header{
    color: black;
    border: 1px solid black;
  }
  