*{
    margin: 0;  
    padding: 0;  
    border: 0;  
}
.buttons{
    margin-top: 0px !important;
}
body{
    background-color: #EDF0DA;
}
#grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    width: 60%;
    margin: auto;
    grid-gap:10px;
}
.grid-img{
    width: 220px;
    height: 220px;
    margin: auto;
}
.previous-pics, .next-pics{
    background-color: #EDF0DA;
    color: black;
    border: 2px solid black; 
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 24px;
}
.btns{
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    width: 80%;
    box-sizing: border-box;
}
.previous-pics{
    float: left;
    
}
.next-pics{
    float: right;
}
.next-pics:disabled, .previous-pics:disabled{
    background-color: rgb(95, 93, 93);

}
.previous-pics:hover:enabled, .next-pics:hover:enabled {
    background-color: #58759F; 
    color: white;
}
@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-img{
        height: calc(0.8*190px);
        width: calc (0.8 *190px);
    }
}