*{
    margin: 0;  
    padding: 0;  
    border: 0;  
}
body{
    background-color: #EDF0DA;
}

.buttons{
    margin-top: 0px !important;
}
.block-forma{
    padding: 5px;
}
.sadrzaj input{
    display: inline-block;
}
.calendar, .btns, .wrapper{
    margin: auto;
    overflow: hidden;
    width: 80%;
    box-sizing: border-box;
}
.calendar,.wrapper{
    background-color: #EDF0DA;
    color: black;
    margin: 50px auto 30px auto;
    border:1px solid black;
}
.month-indicator{
    height: 60px;
    line-height:60px;
}
.days {
    display: grid;
    /*grid-template-columns: repeat(7, 1fr);*/
    grid-template-columns:50px 50px 50px 50px 50px 50px 50px;
    justify-content: space-evenly;
    grid-gap: 5px;
    
  }
  .bez{
    background-color:transparent;
  }
  .slobodna{
    background-color: green;
  }
  .zauzeta{
    background-color: red;
  }
.month-indicator h2{
    text-align: left;
    margin-left: 10px;
}
.day-of-week, .date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
/*
.date-grid div:first-child {
    grid-column: 5;
}*/
.date{
    height: 65%;
    border:3px solid black;
    line-height:30px;
}
.slobodna,.zauzeta {
    height: 35%;
    border:2px solid black;
    border-top: none;
    box-sizing: border-box;
}
.slobodna{
     background-color: rgb(14, 122, 14);
}
.zauzeta{
    background-color:	rgb(161, 36, 24);
}
.date-grid-element{
    height: 50px;
    box-sizing: border-box;
    margin: 10px;
}

#osobe{
    min-width: 115px;
}

.day-of-week-name{
    border:2px solid black;
    box-sizing: border-box;
    height: 30px;
    margin: 10px;
    line-height: 25px;
    font-weight: 600;
}
.previous-month, .next-month{
    background-color: #EDF0DA;
    color: black;
    border: 2px solid black; 
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 24px;
}
.previous-month{
    float: left;
}
.next-month{
    float: right;
}
.next-month:disabled, .previous-month:disabled{
    background-color: rgb(95, 93, 93);

}
.previous-month:hover:enabled, .next-month:hover:enabled {
    background-color: #58759F; 
    color: white;
}
@media only screen and (max-width: 600px) {
    .day-of-week, .date-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 60px;
    }
    .first-grid,.second-grid{
        display: inline-block;
    }
    .date-grid-element{
        display: none;
    }
    #current-week{
        display: block;
    }
    .day-of-week-name,.date-grid-element{
        height: 40px;
        width: 50px;
    }
    .prazan_div{
        display: none;
    }

}

 