
*{
    margin: 0;  
    padding: 0;  
    border: 0;  
}
body{
    background-color: #EDF0DA;
}
table{
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid #EDF0DA;
    width: 15%; 
}
.tabelaSala{
    margin: auto;
    width: 50%;
    color: #EDF0DA;
}
.tabela_00{
    border:none;
}
.tabelaSprat{
    text-align: center;
}
.slobodnaSala{
    background-color: green;
}
.zauzetaSala{
    background-color: orange;
}
.kancelarija{
    background-color: gray;
}

.headerRedni{
    width: 18% !important;
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
}
.headerSprat{
    background-color: darkgrey;
    font-weight: 400;
}
/*
.sala{
}
*/

@media only screen and (max-width: 600px) {
   .tabelaSala{
        margin: auto;
        width: 70%;
        color: #EDF0DA;
    }
     .headerRedni{
         display: none;
     }
     .headerSprat{
         display: none;
         width: 0%;
     }
}