*{
    margin: 0;  
    padding: 0;  
    border: 0;  
}

body{
    background-color: #EDF0DA;
}
.forma-label{
    display: inline-block;
    width: 145px;
    text-align: left;
    color: #2F4858;
}
.unos-forma{
    padding: 5px;
    margin: auto;
    width: 90%;
    background-color: #EDF0DA;
    box-sizing: border-box;
    overflow:hidden
}
.block-forma{
    padding: 5px;
}
.sadrzaj form input{
    display: inline-block;
}
#submit-btn{
    background-color: #BCD979;
    padding: 10px;
    border-radius: 8%;
}
.button-unos{
    display: inline-block;
    margin-top:10px;
}
.active-link{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .forma-label{
        display: block;
        width: 150px;
        text-align: left;
        color: #2F4858;
    }
    .sadrzaj form input{
        display: block;
        margin-top: 5px;
        width: 100%;
    }
    .block-forma input, label{
        float: none;
    }
    
}