@media all and (min-width:600px){
  .meniLi {
    display: inline;
  }
}
.meni{
  /*width:50%;*/
  margin:auto;
  background-color:#d9e5e7;
  text-align: center;
  position: relative;
  top:50px;
}
.ul-meni{
  list-style-type: none;
  background-color:#ffffff;
  text-align: center;
  width:50%;
  margin:auto;
  padding: 0;
}
.logo{
  width:100%;
  max-width:100px;
  height:auto;
  position: relative;
  bottom:50px;
}
*{
  box-sizing: border-box;
}
