body{
  background-color: #f3f2ef;
}
.sadrzaj{
  position: relative;
  top:50px;
  background-color: #d9e5e7;
  width: 1200px;
  margin:auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px;
  width:1200px;
  margin:auto;
}
/*
.grid-item{
  background-color: red;
}
*/
.button{
  border: none;
  border-radius: 20%;
  background-color: #00bfff;
}
#sljedeci{
  right:0;
  position:absolute;
}
img{
  width: 400px;
  height: 400px;
}
/*mozemo kasnije promijenit da bude mobile first*/
@media all and (max-width:1400px){
  .grid-container {
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    width:800px;
  }
  .sadrzaj{
    width:800px;
  }
  .grid-container.klasaJedna,.grid-container.klasaDvije {
    grid-template-rows: 400px;
  }
}
@media all and (max-width:900px){/*ljepse nego na 800px da mijenjamo*/
  .grid-container {
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    width:400px;
  }
  .sadrzaj{
    width:400px;
  }
  .grid-container.klasaJedna {
    grid-template-rows: 400px;
  }
  .grid-container.klasaDvije {
    grid-template-rows: 400px 400px;
  }
}
@media all and (max-width:600px){
  .grid-container {
    grid-template-columns: 320px;
    grid-template-rows: 320px 320px 320px;
    width:320px;
  }
  img{
    width: 320px;
    height: 320px;
  }
  .sadrzaj{
    width:320px;
  }
  .grid-container.klasaJedna {
    grid-template-rows: 320px;
  }
  .grid-container.klasaDvije {
    grid-template-rows: 320px 320px;
  }
}
