body{
  background-color: #f3f2ef;
}
.sadrzaj{
  position: relative;
  top:50px;
}
.weekdays,.days {
  display: grid;
  /*grid-template-columns: repeat(7, 1fr);*/
  grid-template-columns:50px 50px 50px 50px 50px 50px 50px;
  justify-content: space-evenly;
  grid-gap: 5px;
}
form{
  width:400px;
  margin:auto;
  position:relative;
  background-color: #d9e5e7;
}
#sljedeci{
  right:0;
  position:absolute;
}
#kalendar{
  background-color: #a0b4b7;
  width:400px;
  position:relative;
}
.grid-item{
  background-color: white;
}
.bez{
  background-color:transparent;
}
.slobodna{
  background-color: green;
}
.zauzeta{
  background-color: red;
}
.button{
  border: none;
  border-radius: 20%;
  background-color: #00bfff;
}
label{
  display:inline-block;
  width:80px;
}
@media all and (max-width:600px){
  .weekdays,.days{
    grid-template-columns:35px 35px 35px 35px 35px 35px 35px;
  }
  form,#kalendar{
    width:300px;
  }
}
/*
#prethodni{
  left:40%;
  position:absolute;
}
*/
