body{
  background-color: #f3f2ef;
}
.sadrzaj{
  position: relative;
  top:50px;
}
.tabelaSala{
  width:50%;
  margin:auto;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td{
  border: 1px solid black;
  text-align: center;
  width:16.7%;
}
#hid{
  	visibility: hidden;
}
.headerSprat{
  background-color: #d9e5e7;
}
.headerRedni​{
  background-color: #d9e5e7;
  text-align:left;
}
.sala{
  background-color: white;
}
@media all and (max-width:600px){
  .sakriti{
    display:none;
  }
  td:nth-of-type(1) {
    display: none;
  }
}
