body{
  background-color: white;
  color:black;
  margin: 0;
  padding: 0;
}
header{
  background-color: rgb(24, 155, 238);
  padding: 1%;
  margin-bottom: 7px;
  margin-top: 80px;
  text-align:center;
}

.logo a{

  background-color: red;
  background-size: 300px;
  background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -99999999px;
    top:-75px;
    left:50px;
  width: 100px;
  margin-top: 30px;

}
/*
div{
  background: red;
  display:inline-block;
  margin: auto;
  width: 100px;
}*/

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-right:  20px ;
}
/*
.sadrzaj{
  background:rgb(24, 155, 238);
  padding:20px;
  display: flex;
  flex-direction: row;
  height: 1000px;
  position: relative;
}
*/
.gallery{

  display: grid;

  grid-template-columns: repeat(3 ,300px);
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));

}







footer{
  background: black;
  padding: 10px 20px;
}
