body{
  background-color: white;
  color:black;
  margin: 0;
  padding: 0;
}
header{
  background-color: rgb(24, 155, 238);
  padding: 1%;
  margin-bottom: 7px;
  margin-top: 80px;
  text-align:center;
}

.logo a{

  background-color: red;
  background-size: 300px;
  background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -99999999px;
    top:-75px;
    left:50px;
  width: 100px;
  margin-top: 30px;

}
/*
div{
  background: red;
  display:inline-block;
  margin: auto;
  width: 100px;
}*/

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-right:  20px ;
}

.mobile {
  display: none;
}
@media screen and(max-width:600px){
   .desktop table tr{
     display: inline-block;
  }
  .mobile table tr{
    display: none;
  }
}
/*
.sadrzaj{
  background:rgb(24, 155, 238);
  padding:20px;
  display: flex;
  flex-direction: row;
  height: 1000px;
  position: relative;
}
*/
.dropdown {
  position: relative;
  display: inline-block;
}
/*pređi mišem preko liste*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}




footer{
  background: black;
  padding: 10px 20px;
}
