body{
  background-color: white;
  color:black;
  margin: 0;
  padding: 0;
}
header{
  background-color: rgb(24, 155, 238);
  padding: 1%;
  margin-bottom: 7px;
  margin-top: 80px;
  text-align: center;
}
.sale{

}
nav{

}
.logo a{

  background-color: red;
  background-size: 300px;
  background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -99999999px;
    top:-75px;
    left:50px;
  width: 100px;
  margin-top: 30px;

}
section.sadrzaj{
  background:rgb(24, 155, 238);
  padding:20px;
  display: flex;
  flex-direction: row;
  height: 1000px;
  position: relative;


}
div{
  background: red;
  display:inline-block;
  margin: auto;
  width: 100px;
}
table{
  position: relative;
  margin-left: 50px;
  width: 100%;

}
table th{
  background-color:none;
  text-align: center;
  border-collapse: collapse;;
}

.sala{
  background-color: white;
  padding-bottom: 10px;
  text-align: center;
  border: 1px grey;
  border-collapse: collapse;

}
.headerSprat{
  background-color: rgb(157, 157, 156);
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerRedni{
  background-color: rgb(179, 176, 176);
  padding-top: 20px;
}
.slobodnaSala{
  background-color: rgb(86, 221, 52);
}
.zauzetaSala{
  background-color: rgb(190, 120, 14);
}
.desna{
  padding: 20px 15px;
}
.plava{
  background-color:rgb(149, 172, 207);
}
.kancelarija{
  background-color: rgb(149, 172, 207);
}
}



ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-right:  20px ;
}
footer{
  background: black;
  padding: 10px 20px;
}
