html {
    background-color: black;
}
.stranica {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.meni {
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    margin-top: 3.51em;
    height: 53%;
}

li a {
    color: deepskyblue;
}

.logo {
    text-align: center;
}

.logo img {
    width: 7em;
    height: 7.02em;
    position: relative;
    top: -3.51em;
}

.lista-meni {
    list-style-type: none;
    text-align: center;
}

.lista-meni li {
    display: inline-block;
    padding: 0.5% 5%;
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
}

.lista-meni li:hover {
    background-color: dimgray;
}

.sadrzaj {
    background-color: black;
    color: silver;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.images {
    width: 350px;
    height: 220px;
    object-fit: cover;
}

.footer {
    color: deepskyblue;
    float: right;
    text-align: right;
    margin-top: 10%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.footer img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1200px) {
    .sadrzaj {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 830px) {
    .stranica {
        font-size: 0.7em;
    }
    .sadrzaj {
        grid-template-columns: 1fr;
    }

    .images {
        width: 320px;
        height: 240px;
    }

    .meni {
        height: 32%;
    }
    .footer {
        margin-top: 50%;
    }

}

@media only screen and (max-width: 600px) {
    .lista-meni li {
        display: block;
        width: 20%;
        padding: 2% 2%;
        margin-bottom: 1%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .lista-meni {
        position: relative;
        right: 4%;
    }
}
