html {
    background-color: black;
}
.stranica {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.meni {
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    margin-top: 3.51em;
}

li a {
    color: deepskyblue;
}

.logo {
    text-align: center;
}

.logo img {
    width: 7em;
    height: 7.02em;
    position: relative;
    top: -3.51em;
}

.lista-meni {
    list-style-type: none;
    text-align: center;
}

.lista-meni li {
    display: inline-block;
    padding: 0.5% 5%;
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
}

.lista-meni li:hover {
    background-color: dimgray;
}

.sadrzaj {
    background-color: black;
    color: silver;
    text-align: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer {
    color: deepskyblue;
    float: right;
    text-align: right;
    margin-top: 10%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.footer img {
    width: 50px;
    height: 50px;
}

select {
    background-color: dimgray;
    color: deepskyblue;
    padding: 0.6%;
    width: 30%;
    font-size: 1.2em;
    border-color: deepskyblue;
}

.dropDown {
    margin-top: 4%;
}

p {
    margin-left: 2%;
}

.checkbox, .pocikraj {
    color: deepskyblue;
}

.checkbox {
    margin-top: 3%;
}

.input {
    margin-top: 3%;
    background-color: dimgray;
    color: deepskyblue;
    border-color: deepskyblue;
}

.kalendar {
    margin: 4% auto 1% auto;
    width: 45em;
    height: 20em;
}

#mjesec {
    text-align: left;
    padding-left: 2%;
    font-size: 1.2em;
    color: deepskyblue!important;
    background-color: rgb(36, 36, 36)!important;
}

th {
    background-color: deepskyblue!important;
    color: black!important;
}

.celija {
    border: 2px solid silver;
    padding: 1%;
    background-color: black;
    color: white;
}

.slobodna {
    background-color: rgb(9, 100, 9);
    height: 0.8em;
}

.zauzeta {
    background-color: rgb(177, 35, 0);
    height: 0.8em;
}

.btn {
    background-color: rgb(90, 90, 90);
    color: deepskyblue;
    font-size: 1.1em;
    font-weight: bold;
    width: 19%;
    margin-top: 2%;
}

.prethodni {
    float: left;
}

.sljedeci {
    float: right;
}

@media only screen and (max-width: 1000px) {
    .stranica {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 600px) {
    .lista-meni li {
        display: block;
        width: 20%;
        padding: 2% 2%;
        margin-bottom: 1%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .lista-meni {
        position: relative;
        right: 4%;
    }
    .btn {
        width: 40%;
    }
    .kalendar {
        margin: 4% auto 1% auto;
        width: auto;
        height: auto;
    }
    tr {
        display:table-cell;
    }
    td, th {
	display:block;
    }	
    th {
	height: 2em;
    }
    .sakrijZaMob {
        display: none!important;
    {
}
