html {
    background-color: black;
}
.stranica {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.meni {
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    margin-top: 3.51em;
}

li a {
    color: deepskyblue;
}

.logo {
    text-align: center;
}

.logo img {
    width: 7em;
    height: 7.02em;
    position: relative;
    top: -3.51em;
}

.lista-meni {
    list-style-type: none;
    text-align: center;
}

.lista-meni li {
    display: inline-block;
    padding: 0.5% 5%;
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
}

.lista-meni li:hover {
    background-color: dimgray;
}

.sadrzaj {
    background-color: black;
    color: silver;
    margin-top: 1%;
    margin-bottom: 1%;
}

th, td {
    border: 2px solid silver;
    width: 5%;
    height: 5%;
    padding: 1%;
}

.tabelaSala {
    margin: 2% auto 1% auto;
    width: 50%;
    height: 90%;
}

.headerSprat {
    text-align: center;
    color: whitesmoke;
    background-color: rgb(21, 21, 21);
}

.headerRedni {
    text-align: left;
    padding-left: 1%;
    color: whitesmoke;
    background-color: rgb(21, 21, 21);
}

#skriveni {
    visibility: hidden;
    border: none;
}

.sala {
    color: lightskyblue;
    text-align: center;
}

.slobodnaSala {
    background-color: rgb(9, 100, 9);
}

.zauzetaSala {
    background-color: rgb(177, 35, 0);
}

.kancelarija {
    background-color: rgb(88, 88, 88);
}


.footer {
    color: deepskyblue;
    float: right;
    text-align: right;
    margin-top: 3%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.footer img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1500px) {
    .stranica {
        font-size: 0.84em;
    }

    th, td {
        border: 2px solid silver;
        width: 4%;
        height: 4%;
    }
    
    .tabelaSala {
        margin: 4% auto 2% auto;
        width: 60%;
        height: 76%;
    }
}

@media only screen and (max-width: 1000px) {
    .stranica {
        font-size: 0.7em;
    }

    th, td {
        border: 2px solid silver;
        width: 3%;
        height: 3%;
    }
    
    .tabelaSala {
        margin: 4% auto 2% auto;
        width: 76%;
        height: 76%;
    }
}

@media only screen and (max-width: 600px) {
    .lista-meni li {
        display: block;
        width: 20%;
        padding: 2% 2%;
        margin-bottom: 1%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .lista-meni {
        position: relative;
        right: 4%;
    }
    .headerRedni, .headerSprat {
        display: none;
    }
}