html {
    background-color: black;
}
.stranica {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.meni {
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    margin-top: 3.51em;
}

li a {
    color: deepskyblue;
}

.logo {
    text-align: center;
}

.logo img {
    width: 7em;
    height: 7.02em;
    position: relative;
    top: -3.51em;
}

.lista-meni {
    list-style-type: none;
    text-align: center;
}

.lista-meni li {
    display: inline-block;
    padding: 0.5% 5%;
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
}

.lista-meni li:hover {
    background-color: dimgray;
}

.sadrzaj {
    background-color: black;
    color: silver;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer {
    color: deepskyblue;
    float: right;
    text-align: right;
    margin-top: 8%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.footer img {
    width: 50px;
    height: 50px;
}

.forma {
    margin-top: 8%;
   text-align: center;
}

.forma label {
    color: silver;
    font-weight: bold;
    display: inline-block;
    width: 15em;
    text-align: right;
}

.input {
    background-color: rgb(17, 162, 211);
    margin-top: 1%;
    margin-bottom: 1%;
    width: 36%;
}

#unos {
    background-color: rgb(90, 90, 90);
    color: deepskyblue;
    font-size: 1.1em;
    font-weight: bold;
    width: 9%;
}

@media only screen and (max-width: 1000px) {
    .stranica {
        font-size: 0.7em!important;
    }
    
    #unos {
        width: 12%;
    }
}

@media only screen and (max-width: 600px) {
    .input, .forma label {
        display: block;
        text-align: center;
        width: auto;
    }
    .forma label {
        width: auto;
    }
    .input {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .lista-meni li {
        display: block;
        width: 20%;
        padding: 2% 2%;
        margin-bottom: 1%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .lista-meni {
        position: relative;
        right: 4%;
    }
    .forma label {
        display: block;
    }
}